/* General */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", "sans-serif";
    background-color: #151515;
    color: #ffffff;
    
}

html {
    scroll-behavior: smooth;
}

p {
    color: #c4c4c4;
}

/* Transition */

a, .btn {
    transition: all 300ms ease;
}

/* Desktop Nav */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    background-color: #000000;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #f36100;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #f36100;
}

.logo {
    font-size: 2rem;
    color: #f36100;
}

.logo:hover {
    cursor: default;
}

#desktop-nav .btn-color-1 {
    border-radius: 0.5rem;
    font-size: 1.1rem;
    width: 10rem;
}

/* Hamburger Menu */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: #000000;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 350px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

/* Sections */

section {
    padding-top: 4vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* Profile Section */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;    
    color: #f36100;
}

.title {
    font-size: 3rem;
    text-align: center;
    color: #ffffff;
}

.video-intro .icon {
    height: 1.2em;
}

.video-intro .btn {
    display: flex;
    width: 14rem;
    align-items: center;
    justify-content: space-around;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* Icon */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* Buttons */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-family: "Poppins", "sans-serif";
    font-weight: 400;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1, .btn-color-2 {
    border: #f36100 0.1rem solid;
}

.btn-color-1:hover, .btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1, .btn-color-2:hover {
    background: #f36100;
    color: #ffffff;
}

.btn-color-1:hover {
    background: #ff7b2d;
}

.btn-color-2 {
    background: none;
    color: #f36100;
}

.btn-color-2:hover {
    border: #ffffff 0.1rem solid;
}

/* About Section */
.darker-gray-bg {
    background-color: #0a0a0a;
    height: auto;
    min-height: 100px;
}

#about {
    position: relative;
    padding-bottom: 3rem;
}

#about .section__text__p1 {
    margin-bottom: 2rem;
}

#about .details-container {
    display: flex;
    background: #151515;
    padding: 1.5rem;
    border-radius: 2rem;
    border: #f36100 0.1rem solid;
    margin-bottom: 1rem;
    flex-direction: column;
    align-items: center;
}

.details-container h3 {
    color: #f36100;
    margin-bottom: 0.5rem;
}

.details-container p {
    text-align: justify;
    margin: 0;
    font-size: small;
}

.about-info-container {
    margin-bottom: 2rem;
}

#about .section__text__p2 {
    color: #f36100;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.personal-info .row{
    margin-bottom: 1.5rem;

}
    
.about-info-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 15px;
}

.about-info-item span {
    margin-right: 0.5rem;
    color: white;
    white-space: nowrap;
}

.about-info-item p {
    margin-bottom: 0;
    font-size: small;
}

.text-container {
    line-height: 1.6;
}

.about-right-arrow {
    height: 1rem;
    margin-right: 10px;
}

#about .arrow {
    position: absolute;
    right: 1rem;
    bottom: 2.5rem;
}

.section-container {
    display: flex;
    gap: 2rem;
}

.bottom-column {
    display: none;
}

@media (max-width: 991px) {

    .hidden-responsive {
        display: none;
    }

    .bottom-column {
        display: grid;
        order: 3;
    }

    .left-column {
        order: 2;
    }

    .right-column {
        order: 1;
    }

}

@media (max-width: 575px) {
    .about-info-item span {
        width: 100%;
    }

    .about-info-item p {
        width: 100%;
    }

    .personal-info .row {
        margin-bottom: 1.5rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .about-info-item {
        display: flex;
        flex-direction: row;
    }
    
}

/* Skills  */

#skills {
    position: relative;
    padding-bottom: 3rem;
}

.skills-section-container {
    gap: 0.1rem;
    margin: auto;   
    justify-content: space-around;
}

.technical-skills-container {
    background: #252525;
    display: flex;
    margin-bottom: 1rem;
    padding: 1.5rem;
    border-radius: 2rem;
    border: #f36100 0.1rem solid;
    flex-direction: column;
    align-items: center;
    width: 33rem;
    align-items: center;
}

.technical-skills-container .row-cols-2{
    padding-top: 35px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.skills-container img {
    margin-right: 10px;
}

.skills-container span {
    flex: 1;
}

.skills-container p {
    width: 100%;
    margin-top: 5px; 
    margin-left: calc(20px + 10px); 
}

.technical-skills-container .row-cols-2 > .col:last-child {
    margin-left: auto;
    margin-right: auto;
}

.checkmark-orange {
    height: 1.3rem;
    margin-right: 10px;
}

.orange-bullet {
    height: 0.8rem;
    margin-right: 10px;
}


@media (max-width: 991px) {
    .skills-section-container {
        display: grid;
    }
}
    
@media (max-width: 575px) {
    .technical-skills-container {
        width: 100%;
    }

    .skills-container {
        padding-left: 20px;
    }
    
}

@media (min-width: 575px) {
    .skills-container {
        padding-left: 50px;
    }
}

/* Education */

#education {
    position: relative;
}

.experience-sub-title {
    color: #f36100;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}

/* Projects */

#projects {
    position: relative;
}

.color-container {
    border-color: #f36100;
    background: #252525;
}

.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title {
    margin: 1rem;
    color: #ffffff;
}

.project-btn {
    color: #ffffff;
    border-color: #f36100;
}

/* Contact */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: #f36100 0.1rem solid;
    background: #252525;
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
}

.email-icon {
    height: 2.5rem;
}

/* Footer */

footer {
    height: 26vh;
    margin: 0 1rem;
    background-color: #000000;
}

footer p {
    text-align: center;
}